.replyContainer {
  margin-left: 5%;
  width: 95%;
  max-width: 95%;
}

.replyBanner {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.exitReply {
  cursor: pointer;
}

.commentName {
  width: 50%;
}

.commentBody {
  width: 90%;
  margin: 10px 0;
  padding: 10px;
}

.dialogueItem {
  font-size: 12px;
  color: #343434;
}

.postButton {
  cursor: pointer;
  background: #ee5921;
  color: white;
  border: none;
  margin-top: 10px;
}

.postButtonDisabled {
  background: #ef8158;
  color: white;
  border: none;
  margin-top: 10px;
}
