.blogsTitle {
  display: inline;
  margin-right: 8px;
}

.blogTitle {
  display: inline;
  color: #013220;
  font-weight: bolder;
  font-size: 20px;
}

.blogsList {
  margin-left: 20px;
  padding: 0;
}

.blogsList > li {
  margin: 20px 0;
}

